---
layout: page
title: Teaching
permalink: /teaching/
---

<!-- Slider Start -->
<section id="global-header">
<div class="teaching">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Teaching</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="portfolio-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block">
          <h1 style="text-align: center; padding-bottom: 50px;">Recent Courses</h1>
  
          <div class="courses-menu">

           
            <br>
            <ul>
              <li class="filter" data-filter="all">All</li>
              <li class="filter" data-filter=".Ugcourses">Undergraduate</li>
              <li class="filter" data-filter=".Gradseminars">Graduate</li>
            </ul>
            </div>
          </div>

<div class="item">
  <ul id="portfolio-contant-active">

    {% for gscourse in site.data.GScourses %}
    <li class="mix Gradseminars">
      <div class="course">
        <h2>{{ gscourse.name }}</h2>
        <p class="pub">offered {{gscourse.taught}}</p>
        <span>{{ gscourse.description}}</span>
       
      </div>
  
      {% endfor %}
    </li>

    {% for ugcourse in site.data.UGcourses %}
    <li class="mix Ugcourses">
      <div class="course">
        <h2>{{ ugcourse.name }}</h2>
        <p class="pub">offered {{ugcourse.taught}}</p>
        <span>{{ ugcourse.description}}</span>
       
      </div>
  
      {% endfor %}
    </li>


    
 
  </section>


<section id="button">
  <div class="container">
    <div class="center">
  <button onclick="topFunction()" id="myBtn" title="Go to top">Return to top</button>
  </div>
  </div>
  </section>

  
  <section id="feature">
    <div class="block">
      <div class="footerimage"></div>
    </div>
  
  </section>