---
layout: page
title: Writing
permalink: /writing/
---

<!-- Slider Start -->
<section id="global-header">
<div class="work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Writing</h1>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Portfolio Start -->
<section id="portfolio-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block">
          <div class="portfolio-menu">
            <ul>
              <li class="filter" data-filter="all">All</li>
              <li class="filter" data-filter=".Current" id="current-filter">Current Projects</li>
              <li class="filter" data-filter=".Books">Books</li>
              <li class="filter" data-filter=".Edited">Edited Collections</li>
              <li class="filter" data-filter=".EdAnth">Editions, Anthologies & Reference</li>
              <li class="filter" data-filter=".Articles">Recent Articles & Chapters</li>
              <li class="filter" data-filter=".Public">Public-Facing Writing</li>
           
            </ul>
          </div>

  <div class="item">
    <ul id="portfolio-contant-active">
      {% for book in site.data.books %}
      
      <li class="mix Books">
        <div class="col-md-5">
          <div class="img">
            <img src="{{ book.image }}" alt="">
         </div>
         </div>
                
         <div class="col-md-6">
        <div class="book">
          <h2>{{book.name}}</h2>
          <p class="pub">{{book.publisher}} | <a href="{{ book.url }}" style="text-decoration: underline;">{{book.urlname}}</a></p>
          <p>{{book.description}}</p>
          </div>
      
        </div>

        {% endfor %}
    
      </li>
  

  {% for coll in site.data.edcoll %}
      <li class="mix Edited">
        <div class="col-md-5">
          <div class="img">
            <img src="{{ coll.image }}" alt="">
         </div>
        </div>
        
        <div class="col-md-6">
        <div class="book">
          <h2>{{coll.name}}</h2>
          <p class="pub">{{coll.publisher}} | <a href="{{ coll.url }}" style="text-decoration: underline;">{{coll.urlname}}</a></p>
          <p>{{coll.description}}</p>
          
        </div>           
        </div>
        {% endfor %}
      
      </li>


      {% for edition in site.data.editions %}
      <li class="mix EdAnth">
        <div class="col-md-5">
          <div class="img">
            <img src="{{ edition.image }}" alt="">
         </div>
         </div>
              
         <div class="col-md-6">
        <div class="book">
          <h2>{{edition.name}}</h2>
          <p class="pub">{{edition.publisher}} | <a href="{{ edition.url }}" style="text-decoration: underline;">{{edition.urlname}}</a></p>
          <p>{{edition.description}}</p>
        
        </div>      
        </div>
   
        {% endfor %}
      
      </li>



      {% for article in site.data.articles %}
      <li class="mix Articles">
                
        <div class="book">
          <h2 style="font-style:normal; text-transform: none">{{article.name}}</h2>
          <p class="pub"> {{article.publisher}} | <a href="{{ article.url }}" style="text-decoration: underline;">{{article.urlname}}</a></p>
          <p>{{article.description}}</p>
                    
        </div>
        {% endfor %}
  
      </li>

      {% for article in site.data.public %}
      <li class="mix Public">
        <div class="book">
          <h2 style="font-style:normal; text-transform: none"><q>{{article.name}}</q></h2>
          <p class="pub"> {{article.publisher}} | <a href="{{ article.url }}" style="text-decoration: underline;">{{article.urlname}}</a></p>
          <p> {{article.description}}</p>

</div>
    
                    
      
   
        {% endfor %}
      
      </li>


      {% for project in site.data.current %}
      <li class="mix Current" id="current-filter">
 
              
      <div class="book" id="current-filter">
        <h2 style="font-style:normal; text-transform: none">{{project.name}}</h2>
        <p class="pub" id="current-filter">{{project.publisher}} </p>
        <p>{{project.description}}</p>
      
        <p>{{project.reldes1}}</p>
        <div class="related">
      
        <p><a href="{{ project.relurl1 }}" style="text-decoration: underline;">{{project.relname1}}</a> {{project.relpub1}}</p>
        <p><a href="{{ project.relurl2 }}" style="text-decoration: underline;">{{project.relname2}}</a> {{project.relpub2}}</p>
       </div>
        <p>{{project.reldes2}}</p>
        <div class="related">
        <p><a href="{{ project.relurl3 }}" style="text-decoration: underline;">{{project.relname3}}</a> {{project.relpub3}}</p>
        </div>
        
    
      </div>
      {% endfor %}
    
      </ul>
</section>

<section id="button">
  <div class="container">
    <div class="center">
  <button onclick="topFunction()" id="myBtn" title="Go to top">Return to top</button>
  </div>
  </div>
  </section>

  <section id="feature">
    <div class="block">
      <div class="footerimage"></div>
    </div>
  
  </section>


  <footer>

    <div class="footer-menu">
      <ul>
        <li><a href="{{ site.baseurl }}/index">Home</a></li>
        <li><a href="{{ site.baseurl }}/writing">Writing</a></li>
        <li><a href="{{ site.baseurl }}/talks">Talks</a></li>
        <li><a href="{{ site.baseurl }}/teaching">Teaching</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
    </div>
   
  </footer>
  
  