<!-- Header Start -->
<header>

      <!-- header Nav Start -->
<div class="navbar">
          <!-- Brand and toggle get grouped for better mobile display -->
  <div>
    <a class="navbar name" href="{{ site.baseurl}}/index.html">CARLISLE YINGST</a>
 </div>
<div>
            <ul>
              <li><a href="{{ site.baseurl }}/index">ABOUT</a>  </li>
              <li><a href="{{ site.baseurl }}/writing">WORK</a>  </li>
              <li><a href="{{ site.baseurl }}/resources">RESOURCES</a></li>
              <li><a href="{{ site.baseurl }}/contact">CONTACT</a></li>
            </ul>
      
          </div>
      </div>
</header>

<!-- header close -->
